/* Universal Styles */
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding: 0px 30px;
  background-color: #e95014;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: green;
}
/* Header Styles */
.header {
  max-height: 700px;
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.blank {
  width: 50%;
}
.content {
  text-align: right;
  margin-right: 40px;
  width: 50%;
  padding: 100px 80px;
}

.header-title {
  font-weight: 700;
  font-size: 60px;
  margin: 30px 0px 10px;
}

.header-caption {
  font-size: 18px;
  color: #535050;
  margin-bottom: 20px;
}

/* About Me Styles */
.About-Me {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  margin: 30px 0px 20px;
}

.section-caption {
  font-size: 18px;
  color: #535050;
  margin-bottom: 30px;
}

/* Articles Styles */
.articles {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.article {
  max-width: 350px;
}

.gallery img {
  height: 480px;
  width: 380px;
  position: relative;
}

.article-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 35px;
}

.article-caption {
  font-size: 18px;
  color: #535050;
  margin-bottom: 10px;
}

.article ul {
  list-style: none;
  padding: 0;
}

.article li {
  font-size: 14px;
  color: #535050;
}
.article li::before {
  content: "✓";
  color: rgb(61, 231, 98);
  font-size: 18px;
  margin-right: 10px;
}

/* My Plans Styles */

.my-plans {
  text-align: center;
}

.plans {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin: 50px 0px;
}

.plans h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.plans h3 {
  font-size: 20px;
  color: #535050;
}

/* gradients Styles */

.gradients {
  max-width: 800px;
  background-image: linear-gradient(
      to left,
      rgba(252, 92, 0, 0),
      rgb(221, 98, 27)
    ),
    url("../images/watch.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 50px;
}

.gradients:hover {
  border: 2px solid #0d99ff;
}

.gradients-content {
  padding: 15px;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

.gradients-content h1 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.gradients-content .btn-primary {
  background-color: white;
  color: #f15b22;
}

.gradients-content .btn-primary:hover {
  background-color: green;
  color: white;
}

/* Footer Styles */

.footer {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 100px 0px;
  width: 100%;
  background-color: #151414;
}

.future {
  width: 300px;
}

.future p {
  color: white;
  font-size: 12px;
  margin-top: 15px;
}

.future-title {
  color: white;
  margin-bottom: 15px;
}

.social-link {
  margin: 20px 0px;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.subcribe p {
  color: white;
}

#email {
  height: 40px;
  width: 250px;
  background-color: #151414;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  margin: 20px 0px;
}
